/* Override this file to customise the theme's CSS for your site */
.page__body {
    background-color: aqua;
    border-radius: 2.5px;
    padding: 1rem;
    color: black;
}

body {
    padding: 5%;
    background-color: black;
}

